!!! 5
%html
	%head
		%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
		%meta{:name => "keywords", :content => "Search for previous term grades of TAMU courses"}
		%meta{:name => "keywords", :content => "tamu grade search, tamu gradesearch, seaerch tamu grades, grade search, gradesearch"}
		%meta{:name => "author", :content => "Chaitanya Vadrevu"}

		%title Grade Search!
		= stylesheet_link_tag 'application'
		-# = javascript_include_tag 'application'
		= csrf_meta_tags
		%table#title
			%tbody
				%tr
					%td
						%h2 Grade Search!
					%td
						=link_to 'about', '/about'

	%body
		%h4 Updated grades till 2016 Spring for Engineering, Business, Science, Architecture courses
		#main
			= yield
